<script src="resources/vendor/datatables/jquery.dataTables.js"></script>
<script src="resources/vendor/datatables/dataTables.bootstrap4.js"></script>

<script src="resources/js/admin/user.js"></script>
<div id="content-wrapper">

  <div class="container-fluid">

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#/user">User</a>
      </li>
      <!-- <li class="breadcrumb-item active">User</li> -->
    </ol>

    <!-- DataTables Example -->
    <div class="card mb-3">
      <div class="card-header">
        <span class="fontSize"><i class="fas fa-table"></i>
          Data</span>
            <button class="btn btn-primary float-right" data-toggle="modal" data-target="#createUserModal" onclick="getZones()">
              <i class="fa fa-plus" aria-hidden="true"></i>
              Add
            </button>
      </div>
      <div class="card-body">
        <!-- <div class="table-responsive"> -->
          <table id="user_table_id" class="display user"  width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Username</th>
                <th>Store Name</th>
                <th>Zone</th>
                <th>Update user</th>
                <th>Delete User</th>
              </tr>
            </thead>
            <tbody id="tbody">
            </tbody>
          </table>
        <!-- </div> -->
      </div>
      <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>

    <!--Add Modal -->
    <div class="modal fade" id="createUserModal" role="dialog">
        <div class="modal-dialog">

          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Add New User</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
              <div class="container">
                <form class="form-horizontal">
                  <div class="form-group displayForm">
                    <label class="control-label label-margin col-sm-2" for="Name">Name: </label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="createUserModalName" placeholder="Enter name">
                    </div>
                  </div>
                  <div class="form-group displayForm">
                    <label class="control-label label-margin col-sm-2" for="username">Username: </label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="createUserModalUsername" placeholder="Enter username">
                    </div>
                  </div>
                  <div class="form-group displayForm">
                    <label class="control-label label-margin col-sm-2" for="password">Password: </label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="createUserModalPassword" placeholder="Enter password">
                    </div>
                  </div>
                  <div class="form-group displayForm">
                    <label class="control-label label-margin col-sm-2" for="zone">Zone: </label>
                    <div class="col-sm-10">
                      <select id="createUserZoneSelect" onchange="getStores(this.value)" name="zoneSelect">
                      </select>
                    </div>
                  </div>
                  <div class="form-group displayForm">
                    <label class="control-label label-margin col-sm-2" for="store">Store: </label>
                    <div class="col-sm-10">
                      <select id="createUserStoreSelect" onchange="getStoreId(this.value)" name="storeSelect">
                      </select>
                    </div>
                  </div>

                  <div class="form-group float-right">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="button" onclick="createUser()" class="btn btn-info">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Delete modal -->
      <div class="modal fade" id="deleteModal" role="dialog">
          <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Are you sure you want to delete this user : <span id="deleteUserName"></span> ?</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <div class="container">
                  <div class="form-group float-right">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="button" onclick="deleteUser(deleteUserId)" class="btn btn-info">Delete</button>
                    </div>
                  </div>
              </div>
            </div>
          </div>
      </div>
      </div>
   <!-- Assign store modal -->
      <div class="modal fade" id="changeUserModal" role="dialog">
        <div class="modal-dialog">

          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Update user with user id - <span id="changeUsername"></span> :</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
              <div class="container">
                <form class="form-horizontal">
                  <div class="form-group displayForm">
                    <label class="control-label label-margin col-sm-2" for="Name">Name: </label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="updateUserName" placeholder="Enter name">
                    </div>
                  </div>
                  <div class="form-group displayForm">
                    <label class="control-label label-margin col-sm-2" for="username">Username: </label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="updateUserUserName" placeholder="Enter username">
                    </div>
                  </div>
                  <div class="form-group displayForm">
                    <label class="control-label label-margin col-sm-2" for="password">Password: </label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="updateUserPassword" placeholder="Enter password">
                    </div>
                  </div>
                  <!-- <div class="form-group displayForm">
                    <label class="control-label label-margin col-sm-2" for="zone">Zone: </label>
                    <div class="col-sm-10">
                      <select id="updateUserZoneSelect" onchange="getStores(this.value)" name="zoneSelect">
                      </select>
                    </div>
                  </div>
                  <div class="form-group displayForm">
                    <label class="control-label label-margin col-sm-2" for="store">Store: </label>
                    <div class="col-sm-10">
                      <select id="updateUserStoreSelect" onchange="getStoreId(this.value)" name="storeSelect">
                      </select>
                    </div>
                  </div> -->

                  <div class="form-group float-right">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="button" onclick="updateUser()" class="btn btn-info">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </div>

  </div>
  <!-- /.content-wrapper -->
